* {
    padding: 0;
    margin: 0;
}

.top {
    height: 20%;
    font-size: 40px;
    text-align: center;
    padding: 20px;
    margin: 0 20px;
    background-image: url("judge.jpg");
    background-size: 30px;

}
header p {
    text-align: center;

}
.contents-title {
    padding: 15px;
    margin: 5px 20px;
    font-size: 20px;

}
.contents-p {
    border: solid 1px black;
    padding: 15px;
    margin: 5px 20px;
    font-size: 20px;

}
.form {
    font-size: 20px;
    padding: 30px;
}
.button {
    border: solid 1px black;
    border-radius: 50px;
    padding: 20px;
    margin: 5px 25px;
    text-align: center;
    font-size: 35px;
    background-color: brown;
    color: white;
}
.button2 {
    border: solid 1px black;
    border-radius: 50px;
    padding: 10px;
    margin: 15px 15px 30px 0;
    float: right;
    font-size: 15px;
    color: white;
}
a {
    display: block;
    text-decoration: none;
}
a:hover{
    color: white;
    cursor: pointer;
    font-weight: bold;
    background-color: brown;
  }

.button a:hover {

    color: white;
    font-weight: bold;
    
}

#top {
    color: white;
  }

