* {
    padding: 0;
    margin: 0;
}

.loop {
    width: 800px;
    height: 20%;
    font-size: 40px;
    background-image: url("judge.jpg");
    background-size: 30px;
    animation: loop 8s linear infinite;

  }
  @keyframes loop {
    0% {
      transform: translateX(100);
    }
    to {
      transform: translateX(-50%);
    }
  }

 



#top {
    height: 20%;
    font-size: 40px;
    text-align: center;
    padding: 20px;
    margin: 0 20px;
    background-size: 30px;

}
body {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}
header p {
    text-align: center;

}

.img {
    height: 300px;
    width: 100%;
    background-size: cover;
    background-image: url("judge.png");
}
.contents {
    border: solid 1px black;
    padding: 20px;
    margin: 5px 20px;
    line-height: 30px;
    background-color: palegoldenrod;

}
.btn {
    border: solid 1px black;
    border-radius: 50px;
    padding: 20px 55px;
    margin: 25px;
    text-align: center;
    font-size: 35px;
    background-color: brown;
    color: white;
    display: inline-block;
}
a {
    display: inline-block;
    text-decoration: none;
    color: white;
}
a:hover{
    color: white;
    cursor: pointer;
    font-weight: bold;
    background-color: brown;
  }

.btn a:hover {

    color: white;
    font-weight: bold;
    
}



@media(min-width:500px){
    .img {
        height: 100vh;
        width: 100%;
        background-size: cover;
        background-image: url("judge.png");
    }


}
  
